<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de autores</title>
</head>
<body>

    {% if latest_authors %}
        <ul>
            {% for author in latest_authors %}
                <li><a href="{% url 'books:authordetails' author.id %}"> {{ author.first_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Sorry, there aren´t any available authors at the moment!</h2>
    {% endif %}

    <h3>Link to our <a href="{% url 'books:booklist' %}">book list</a></h3>
    <h3>Link to our <a href="{% url 'books:genrelist' %}"> genre list</a></h3>

</body>
</html>