<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de libros</title>
</head>
<body>

    {% if latest_books %}
        <ul>
            {% for book in latest_books %}
                <li><a href="{% url 'books:bookdetails' book.id %}"> {{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Sorry, there aren´t any available authors at the moment!</h2>
    {% endif %}

    <h3>Link to our <a href="{% url 'books:authorlist' %}">author list</a></h3>
    <h3>Link to our <a href="{% url 'books:genrelist' %}"> genre list</a></h3>

</body>
</html>